.insta-login{
    margin-top: 50px;
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
}

 a{
    text-decoration: none;
}

.insta-sc{
    position: relative;
}

.back-img{
   position: absolute; 
   right: 0;
}

.front-img{
    position: absolute;
    top: 25px;
    right: 60px;
}

.login-form{
    border: 1px solid #aeb4ac;
    padding: 10px;
    width: 90%;
}

.form-wapper{
    width: 80%;
    margin: auto;
}

.logo-img{
    height: 71px;
    margin: 20px 0;
    background-image: url(../../assets/insta.png);
    background-position: top -35px center;
    background-repeat: no-repeat;
    background-size: 180px;
}

.login-form  input{
    border: 2px solid #aeb4ac;
    border-radius: 4px;
    padding: 7px 5px;
    width: 100%;
    margin-bottom: 10px;
}

.login-form input::placeholder{
    font-size: .85rem;
}

.login-form button{
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}


.partision{
    position: relative;
    padding: 10px 0;
    /* height: 50px; */
}

.partision hr{
    /* position: absolute; */
}

.partision span{
    position: absolute;
    top: 7px;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    left: 50%;
    transform: translate(-50%);
}

.new-acc{
    border: 1px solid #aeb4ac;
    margin-top: 20px;
    padding: 15px;
    width: 90%;
}

.get-app{
    width: 90%;
}

.get-app .down-img{
    width: 40%;
    overflow: hidden;
}

.get-app .down-img:first-child{
    margin-right: 8px;
}

.down-img img{
    width: 100%;
    height: 50px;
}

.login-other .fa-brands{
    color: rgb(3, 3, 149);
}