.navbar{
    
}

.nav-box{
    /* background-color: red; */
    width: 100%;
    margin: 0;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link{
    color: #fff;
}

.nav-subox2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 60vh;
}

@media(min-width: 992px){
    .navbar{
        width: 200px;
        min-height: 100vh;
    }
}